* text eol=lf

*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text
*.ttf -text
*.otf -text
*.woff -text
*.woff2 -text

# GitHub Linguist
src/const.ts linguist-detectable=false
assets/json/*.json linguist-language=JSON linguist-detectable=true
